# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
**/.vs/

# Project specific folders
**/bin/
**/obj/
Parcker/bin/
Parcker/obj/
Parcker.Domain/bin/
Parcker.Domain/obj/
Parcker.Repository/bin/
Parcker.Repository/obj/
Parcker.Common/bin/
Parcker.Common/obj/

Parcker/bin/Debug/*
Parcker/obj/Debug/*
Parcker.Domain/bin/Debug/*
Parcker.Domain/obj/Debug/*
Parcker.Repository/bin/Debug/*
Parcker.Repository/obj/Debug/*
Parcker.Common/bin/Debug/*
Parcker.Common/obj/Debug/*

# NuGet Packages
*.nupkg
**/packages/
!**/packages/build/
*.nuget.props
*.nuget.targets

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates