################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

**/.vs/
**/packages/
# Ignorar todas as pastas bin e obj
**/bin/
**/obj/