@model IEnumerable<Parcker.Models.CupomDescontoModel>
@{
    ViewBag.Title = "Cupom de Desconto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles{
    @Styles.Render("~/plugin/dtable/css")
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Cupom de Desconto <span class="badge badge-info">BETA</span></h1>
    <p class="mb-4">Você pode criar cupons de desconto para seus clientes utilizarem em ordens de serviço.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 text-right">
            <a href="@Url.Action("Edit")" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Cadastrar Novo Cupom</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <!-- Page level plugins -->
    @Scripts.Render("~/plugin/dtable/js")

    <!-- Page level custom scripts -->
    @Scripts.Render("~/views/cupomdesconto/js")

    <script type="text/javascript">
        $(document).ready(function () {
            $("#menu-cupomdesconto").addClass("active");
        });
    </script>
}

